body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
#contenedorhe{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}
#contenedor{
  position: relative;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

h3 {
  position: absolute;
  top: 450px;
  text-decoration: underline;
}
.navbar {
    background-color: #1D202B;
    overflow: hidden;
  }

  .navbar a {
    float: left;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .navbar a:hover {
    color: rgb(161, 157, 157);
  }
#imagen{
  width: 100%;
  height: 100%;
  max-width: 50%;
  max-height: 100%;
}
#imagen img{
  width: 20%;
  height: 40%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.icono {
  width: 4%; 
  height: 10%;
  position: absolute;
  left: 1260px;
  top: -4px;
  padding: 9px 0;
}
#inicio{
  position: absolute;
  left: 1000px;
}

#administrador{
  position: absolute;
  left: 1500px;
}

#container{
  position: relative;
  top: 30px;
  max-width: 2000px;
  margin: 50px 110px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
  color: #000000;
}

#container .fondo{
  opacity: 0.6;
   width: 1000px;
   height: 525px;
   position: relative;
   left: -15px;
   top: -10px;
   border-radius: 100px;

}
.h2{
  position: absolute;
  left: -900px;
}
#name{
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 240px;
  left: 620px;
  color: #2c2c2c;
}
#nombre{
  position: absolute;
  right: 328px;
  top: 270px;
  width: 400px;
  height: 30px;
  border-radius: 5px;
  padding: 0px, 31px, 0px, 7px;
  border-color: #000000;
  border-width: 2px;
}
#placa{
  position: relative;
  left: 0px;
  top: 60px;
  font-family: Arial, Helvetica, sans-serif;
  color: #2c2c2c;
}
#nroplaca{
  position: absolute;
  right: 0px;
  top: 270px;
  width: 310px;
  height: 30px;
  border-radius: 5px;
  padding: 0px, 31px, 0px, 7px;
  gap: 10px;
  border-color: #000000;
  border-width: 2px;
}

#capacidad{
  position: relative;
  left: 0px;
  top: 125px;
  font-family: Arial, Helvetica, sans-serif;
  color: #2c2c2c;
}
#capacidadmaxima{
  position: relative;
  right: 140px;
  top: 160px;
  width: 310px;
  height: 30px;
  border-radius: 5px;
  border-color: #000000;
  border-width: 2px;
}
#conductor{
  position: relative;
  left:390px;
  top:-6px;
  font-family: Arial, Helvetica, sans-serif;
 
}
#conductorencargado{
  position: relative;
  right:  -230px;
  top: 28px;
  width: 310px;
  height: 30px;
  border-radius: 5px;
  border-color: #000000;
  border-width: 2px;
}

#copiloto{
  position: relative;
  left: 790px;
  top: -65px;
  font-family: Arial, Helvetica, sans-serif;
 
}

#copilotoasignado{
  position: relative;
  right: -650px;
  top: -30px;
  width: 310px;
  height: 30px;
  border-radius: 3px;
  border-color: #000000;
  border-width: 2px;

}
#partida{
  position: relative;
  left: -435px;
  top: 135px;
  font-family: Arial, Helvetica, sans-serif;
 
}
#partidaa{
  top: 140px;
  position: relative;
  right: 0px;
  width: 310px;
  height: 30px;
  border-radius: 10px;
  border-color: #000000;
  border-width: 2px;
}

#destino{
  position: relative;
  left: 315px;
  top: 100px;
  font-family: Arial, Helvetica, sans-serif;
  }

#destinoo {
  top:105px;
  position: relative;
  right: -620px;
  width: 310px;
  height: 30px;
  border-radius: 10px;
  border-color: #000000;
  border-width: 2px;
}

button {
background-color: #4CAF50;
color: white;
border: none;
padding: 10px 20px;
border-radius: 5px;
float: left;
margin-right: 10px;
cursor: pointer;
margin-bottom: 10px;
position: relative;
left: 850px;
top: -24px;
}

.registrarse button {
background-color: #2579e6;
}


.cancelar button {
background-color: #ec0d0d;
}


.container{
  max-width:840px;
  margin: 0 auto 8px auto;
}
#footer{
  background-color: #1D202A;
  position: relative;
  top: 100px;
  padding: 100px; 
}
#footer p{
  position: absolute;
  color: white;
  top: 35px;
}
#contact{
  position: absolute;
}
#contact p{
  position: absolute;
  top: -65px;
}
#contact a{
  position: relative;
  color: white;
  left: 80px;
  top: -50px;
}
#btnwasa{
  position: absolute;
  height: 40px;
  width: 40px;
  top: 0px;
}
#btnmail{
  position: absolute;
  height: 40px;
  width: 40px;
  top: 75px;
}
#btntelef{
  position: absolute;
  height: 40px;
  width: 40px; 
  top: 145px;
}
#inf a{
  position: absolute;
  left: 350px;
  color: rgb(124, 124, 124);
}
#destin a{
  position: absolute;
  left: 600px;
  color: rgb(124, 124, 124);
}
#destin p{
  position: absolute;
  left: 600px;
  color: white;
}
.soport p{
  left: 800px;
}
#soport a{
  position: absolute;
  left: 800px;
  color: rgb(124, 124, 124);
}
#soport p{
  position: absolute;
  left: 800px;
  color: white;
}
#follow{
  position: absolute;
  top: 0px;
  left: 1030px;
}
#fb{
  position: absolute;
  height: 40px;
  width: 40px; 
  top: 80px;
}
#ig{
  position: absolute;
  height: 40px;
  width: 40px; 
  top: 80px;
  left: 50px;
}body {
    margin: 0;
    padding: 0;
    background-color: #e5e5f7;

background-image:  radial-gradient(#040a84 0.75px, transparent 0.75px), radial-gradient(#040a84 0.75px, #e5e5f7 0.75px);
background-size: 30px 30px;
background-position: 0 0,15px 15px;
}

    #contenedorhe{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    max-width: 100vh;
    max-height: 100vh;
  }
  #contenedor{
    position: relative;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    max-width: 100vh;
    max-height: 100vh;
  }

  h3 {
    position: absolute;
    top: 450px;
    text-decoration: underline;
  }
  .navbar {
      background-color: #1D202B;
      overflow: hidden;
    }
  
    .navbar a {
      float: left;
      display: block;
      color: rgb(255, 255, 255);
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
  
    .navbar a:hover {
      color: rgb(161, 157, 157);
    }
  #imagen{
    width: 100%;
    height: 100%;
    max-width: 50%;
    max-height: 100%;
  }
  #imagen img{
    width: 20%;
    height: 40%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  #img2{
    position: relative;
    width: 67px;
    height: 63px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    right: 0px;
  }
  #inicio{
    position: absolute;
    left: 860px;
  }
  #listar{
    position: absolute;
    left: 950px;
  }

  #administrador{
    position: absolute;
    left: 1050px;
  }
  
#container{
  position: relative;
    width: 1000px;
    max-width: 1000px;
    height: 525px;
    margin: 75px 160px;
    padding: 15px;
    box-shadow: 0px 0px 20px#05198b;
    background-color:#b3b3b3;
    color: #000000;
    border-radius: 100px;
}

.fondo{
   opacity: 0.6;
    width: 1000px;
    height: 525px;
    position: relative;
    left: -15px;
    top: -62px;
    border-radius: 100px;

}
#container h2{
    position: relative;
    text-align: center;
    top: -120%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#container h3{
  position: relative;
  text-align: left;
  top: -350px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #000000;
}
#name{
  font-family:Georgia, 'Times New Roman', Times, serif;
    position: relative;
    top: -635px;
    left: 75px;
    color: #272727;
}
#nombre{
    position: relative;
    right: 175px;
    top: -590px;
    width: 265px;
    height: 30px;
    border-radius: 5px;
    padding: 0px, 31px, 0px, 7px;
    border-color: #000000;
    border-width: 2px;
    border-radius: 30px;
  
 
}
#placa{
    position: relative;
    left: 12px;
    top: -595px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #272727;

}

#nroplaca {
    border-color: #000000;
    border-width: 2px;
    width: 265px;
    height: 30px;
    border-radius: 30px;
    position: relative;
    top: -590px;

   

}

#capacidad{
    position: relative;
    left:-90px;
    top: -635px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #272727;

}
#capacidadmaxima{
    position: relative;
    left: 685px;
    top: -625px;
    width: 265px;
    height: 30px;
    border-radius: 5px;
    border-color: #000000;
    border-width: 2px;
    border-radius: 30px;

  
}
#conductor{
    position: relative;
    left:12px;
    top:-700px;
    border-radius: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
     color: #272727;

}
#conductorencargado{
    position: relative;
    right: 150px;
    top: -655px;
    width: 265px;
    height: 30px;
    border-radius: 5px;
    border-color: #000000;
    border-width: 2px;
    border-radius: 30px;


}

#copiloto{
    position: relative;
    left: 350px;
    top: -733px;
    border-radius: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #272727;

}

#copilotoasignado{
    position: relative;
    right: -205px;
    top: -690px;
    width: 265px;
    height: 30px;
    border-radius: 3px;
    border-color: #000000;
    border-width: 2px;
    border-radius: 30px;
   


}
#partida{
    position: relative;
    left: -383px;
    top: -575px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #000000;

}
#partidaa{
    top: -575px;
    position: relative;
    right: -10px;
    width: 265px;
    height: 30px;
    border-radius: 10px;
    border-color: #000000;
    border-width: 2px;
    border-radius: 30px;


}

#destino{
    position: relative;
    left: 90px;
    top: -610px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #000000;

}

#destinoo {
    top:-610px;
    position: relative;
    right: -350px;
    width: 265px;
    height: 30px;
    border-radius: 10px;
    border-color: #000000;
    border-width: 2px;
    border-radius: 30px;

   
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
  float: left;
  margin-right: 10px;
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;
  left: 400px;
  top: -690px;
  border-top-left-radius: 0cm;
}

.registrarse button {
  background-color: #2579e6;
}


.cancelar button {
  background-color: #ec0d0d;
}


.container{
  max-width:840px;
  margin: 0 auto 8px auto;
}
#footer{
  background-color: #1D202A;
  position: relative;
  top: 200px;
  padding: 100px; 
}
#footer p{
  position: absolute;
  color: white;
  top: 35px;
}
#contact{
  position: absolute;
}
#contact p{
  position: absolute;
  top: -65px;
}
#contact a{
  position: relative;
  color: white;
  left: 80px;
  top: -50px;
}
#btnwasa{
  position: absolute;
  height: 40px;
  width: 40px;
  top: 0px;
}
#btnmail{
  position: absolute;
  height: 40px;
  width: 40px;
  top: 75px;
}
#btntelef{
  position: absolute;
  height: 40px;
  width: 40px; 
  top: 145px;
}
#inf a{
  position: absolute;
  left: 350px;
  color: rgb(124, 124, 124);
}
#destin a{
  position: absolute;
  left: 600px;
  color: rgb(124, 124, 124);
}
#destin p{
  position: absolute;
  left: 600px;
  color: white;
}
.soport p{
  left: 800px;
}
#soport a{
  position: absolute;
  left: 800px;
  color: rgb(124, 124, 124);
}
#soport p{
  position: absolute;
  left: 800px;
  color: white;
}
#follow{
  position: absolute;
  top: 0px;
  left: 1030px;
}
#fb{
  position: absolute;
  height: 40px;
  width: 40px; 
  top: 80px;
}
#ig{
  position: absolute;
  height: 40px;
  width: 40px; 
  top: 80px;
  left: 50px;
}