<link rel="stylesheet" href="/css/buses/agregar.css">
<form action="/buses/agregar" method="post">

  <body>

    <head>
      <div id="contendodrhe">
        <div>
          <div class="navbar">
            <div id="imagen">
              <img src="/img/logon.png"></img>
            </div>
            <a id="inicio" href="/inicio2">Inicio</a>
            <a  id="listar"   href="/buses/listar">Listar</a>
            <a id="administrador" href="#">Administrador</a>
             <img id="img2" src="/img/perfil.png" alt="">
          </div>

        </div>
    </head>
    <div id="container">

      <h2>Datos del Transporte</h2>
      <img class="fondo" src="/img/registro de transporte.jpg" alt="">
      <h3>Datos del Transporte</h3>
        <label id="placa" for="placa">Placa del transporte</label> <br>
        <input type="text" id="nroplaca" name="placa_bus" required>

        <label id="name" for="nombre">Nombre de la empresa encargada</label>
        <input type="text" id="nombre" name="nombres_cooperativa_bus" required>

        <label id="capacidad" for="capacidad">Capacidad Maxima</label>
        <input type="number" id="capacidadmaxima" name="capacidad_bus" required>
        <br> <br><br>
        <br> <br>

        <label id="conductor" for="conductor">Conductor encargado</label>
        <input type="text" id="conductorencargado" name="conductor_encargado_bus" required>
       <br>

      <label id="copiloto" for="copiloto">Copiloto Asignado</label>
      <input type="text" id="copilotoasignado" name="nombre_copiloto_bus" required>

      <label id="partida" for="partida">Partida</label> <br>
      <input type="text" id="partidaa" name="partida_ruta" required>

      <label id="destino" for="destino">Destino</label> <br>
      <input type="text" id="destinoo" name="destina_ruta" required>
      <br><br> <br>
      <br> <br> <br><br>

      <div class="registrarse">
        <button (click)="crearRegistro()">Registrar</button>
      </div>
      <div class="cancelar">
        <button (click)="volverRegistro()">Cancelar</button>
      </div>

    </div>



    <footer id="footer" class="">
      <div class="container">
        <div class="row text-left">
          <div id="contact">
            <p>Contactanos</p>
            <img id="btnwasa" src="/img/wasa.png" alt=""><br>
            <img id="btnmail" src="/img/mail.png" alt=""><br>
            <img id="btntelef" src="/img/telef.png" alt="">
            <b><a>Whatsapp</a><br></b>
            <a>09 3456 7890</a><br> <br>
            <b><a>Email</a></b><br>
            <a>hola@tickets.com</a> <br> <br>
            <b><a>Call Center</a></b><br>
            <a>+59322 3456 7891</a><br> <br>
          </div>
          <div id="destin">
            <p>Destinos</p>
            <a href="">Playa</a><br> <br>
            <a href="">Montaña</a><br> <br>
            <a href="">Inolvidables eventos</a>
          </div>
          <div id="soport">
            <p>Soporte</p>
            <a href="">Preguntas frecuentes</a><br> <br>
            <a href="">Política de privacidad</a><br> <br>
            <a href="">Términos y condiciones</a><br> <br>
            <a href="">Inolvidables eventos</a> <br>
          </div>
          <div id="follow">
            <b>
              <p>Síguenos</p>
            </b>
            <a href=""><img id="ig" src="/img/insta.png" alt=""></a>
            <a href=""><img id="fb" src="/img/fb.png" alt=""></a>
          </div>
        </div>
      </div>
    </footer>
  </body>
</form>